.oddeleni {
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
}

.info {
    padding: 20px;
    border-radius: 10px;    

    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.15);

}

.workshop__title {
    padding: 40px 20px;
    color: whitesmoke;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 71%, rgba(237, 221, 83, 1) 100%);
}

h3  {
    color: rgba(42, 123, 155, 1);
}